<div class="whats-new-overlay" *ngIf="entries.length">
  <div class="whats-new-modal card shadow">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">What's New</h5>
    </div>
    <div class="card-body">
      <div *ngFor="let entry of entries">
        <h6 class="fw-bold">{{ entry.version }}</h6>
        <ul>
          <li *ngFor="let change of entry.changes">{{ change }}</li>
        </ul>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" type="button" (click)="close()">Got it!</button>
    </div>
  </div>
</div>
