<h3 class="mt-3">Data Import/Export</h3>
<hr>
<div class="mb-3">
  <button class="btn btn-outline-secondary me-2" (click)="exportData()">
    <i class="bi bi-download me-1"></i> Export Data
  </button>
  <input type="file" class="form-control d-inline-block w-auto" (change)="importData($event)" accept=".json" />
</div>
<div *ngIf="exportedJson" class="alert alert-success mt-3">
  Data exported!<br>
  <a [href]="exportedJson" download="spending-tracker.json">Download spending-tracker.json</a>
</div> 